NEXT_PUBLIC_API_URL=https://backendglownaturas.onrender.com
NEXT_PUBLIC_API_TIMEOUT=60000
NEXT_PUBLIC_SITE_URL=https://glownatura.pages.dev
NEXT_PUBLIC_SITE_NAME=Glow Natura
NEXT_PUBLIC_ADMIN_URL=https://glownatura-admin.vercel.app
NEXT_PUBLIC_ENABLE_REVIEWS=true
NEXT_PUBLIC_ENABLE_WISHLIST=true


